body {
    text-align: center;
    background: linear-gradient(#b39ddb 0%, #81d4fa 100%);
}

img {
    border-radius: 60%;
}

#welcome {
    height: 100%;
    width: 100%;
    z-index: 8;
}

.menu {
    list-style: none;
    position: fixed;
    top: 20px;
    right: 30px;
    z-index: 10;
    font-family: 'Chewy', cursive;
}

.menu li {
    float: left;
    color: whitesmoke;
    margin: 5px;
    padding: 5px;
    font-size: 18px;
}

.menu li:hover {
    background-color: #9c4dcc;
}
#contactdiv h3{
    display: inline;
}
#Contact{
    margin-top: 50px;
}
#Tim Berners-Lee Videos and Talks iframe{
    margin-right: 10px;
}
